/.idea

/feed-common/.gradle/
/feed-common/build/
/feed-common/HELP.md

/feed-eureka/.gradle/
/feed-eureka/build/
/feed-eureka/HELP.md

/feed-gateway/.gradle/
/feed-gateway/build/
/feed-gateway/HELP.md

/feed-send/.gradle/
/feed-send/build/
/feed-send/HELP.md

/feed-store/.gradle/
/feed-store/build/
/feed-store/HELP.md